

.topp{

  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-image: url('../../src/baixados.png'), 
  linear-gradient( 135deg, #FFFFFF 10%,  #007aff 100%);
  background-size: cover;
  background-position: center top;

}

.row {
  margin-top:2rem;
}


.spa{
  color: var(--money);
}

.spa:hover{
  color: var(--light);
}