

.topp{

  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  font-family: "Lexend", sans-serif;
  background-image: url('../../src/assets/imgs/map.png');
  background-size: cover;
  background-position: center top;

}

.row {
  margin-top:2rem;
}


.spa{
  color: var(--money);
}

.spa:hover{
  color: var(--primary);
}

.title {
  color : var(--gray-900);
  font-family: "Lexend" sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}



