.cont_1{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title1,
.description {
  text-align: center;

}